label, input { display:block; }
    input.text { margin-bottom:12px; width:100%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
        .pagination > li > a, .pagination > li > span {
           
        }
            .glyphicon-calendar{
                cursor: pointer;
            }
            a{
                color: #333;
            }
            .first{
				background-color:#BCEE68;
				color:#fff;
			}
			.first:hover{
				color:#3333A5;
                text-decoration: none;
			}
            .paginator{
                text-align: center;
            }

            textarea.resize{
                 resize: none;
                 background:cyan;
            }

            hr{
                display: block;
                border-style: inset;
                border-width: 1px;
                border-color: #333333;
            }
            span:hover{
                color:#33FF00;
            }
            tr td a:hover{
                color:#777777;
                text-decoration: none;
            }
            tr td{
                word-break: break-all;
                text-align:center;
            }  
            
            .glyphicon-list-alt:hover{
                      box-shadow: 2px 3px 4px rgba(0, 0, 0, 200);
                      transform: rotate(-45deg);
                      transition: transform 1000ms;

            }
            .glyphicon-fire:hover{
                box-shadow: 2px 3px 4px rgba(0, 0, 0, 200);
            }
            .alert-success{
                margin-top: 30px;
                margin-bottom: 30px;
                width:300px;
                height:42px;
                color:#fff;
                text-transform: capitalize;
                background: #855FC6;
                text-align: center;
                font-family: arial;
                font-weight: bold;
                line-height: 15px;
                font-size: 24px;
                text-transform: uppercase;
            }
            .alert-danger{
                text-transform: uppercase;
                width:300px;
                height:42px;
                color:#fff;
                background: #EA4335;
                text-align: center;
                font-family: arial;
                font-weight: bold;
                line-height: 15px;
                font-size: 24px;
                margin-bottom: 30px;
            }
            .alert-info{
                text-transform: uppercase;
                width:300px;
                height:42px;
                color:#fff;
                background: #FBBC05;
                text-align: center;
                font-family: arial;
                font-weight: bold;
                line-height: 15px;
                font-size: 24px;
            }
            .glyphicon-hand-down{
                color:#111111;
                background-color: transparent;
            }
            .glyphicon-hand-down:hover{
                cursor:pointer;
                color:#7777A3;
            }
            .danger{
                text-align:left;
            }
            tr.warning td{
                line-height: 15px;
                font-weight: bold;
            }
            .table .table-hover .tmp{
                text-align: left;
            }
            .glyphicon-tasks:hover{
                text-align: center;
                cursor: pointer;
            }
            .glyphicon-plus:hover{
                text-align: center;
                cursor: pointer;
            }
            .btn-success{
                background-color:#6B8E23;
            }
            
            .glyphicon-trash {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transform: rotate(0deg);
                transition: transform 250ms;
                transform-origin: 19% 100%;
            }
            .glyphicon-trash:hover  {
                transform: rotate(-45deg);
                transition: transform 1000ms;
            }
            .glyphicon-wrench {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                transform: rotate(0deg);
                transition: transform 250ms;
                transform-origin: 19% 100%;
            }
            .glyphicon-wrench:hover  {
                transform: rotate(-45deg);
                transition: transform 1000ms;
            }
            <!--!
            .table-container {
            height: 10em;
            }
            
            table.tmp_table2 {
                display: flex;
                flex-flow: column;
                height: 190px;
                width: 1000%;
            }
            table.tmp_table2 thead {
                color:#fff;
                flex: 1 1 auto;
                display: block;
                overflow-y: scroll;
                width:100%;
            }
            table.tmp_table2 tbody {
                /* body takes all the remaining available space */
                display: block;
                overflow-y: auto;
                width: 100%;
                text-align:center;
            }
            table.tmp_table2 tbody.tmp2 tr {
                width: 100%;
                border: solid 1px #DDDDDD;
            }
            table.tmp_table2 thead,
            table.tmp_table2 tbody.tmp2 tr {
                display: table;
                table-layout: fixed;
                text-align:center;
            }
            