<div id="dialog-form-task" title="Add Task">
    <form name = "task-form" method = "post" >
        <fieldset>
            <label>RemineId_Assigned_Title</label>
                <select class="form-control" name="releasesTask" id = "releasesTask">
                <?php 
                foreach($data as $key => $tmp_data) { ?>
                    <option value = "<?= $tmp_data['id']; ?>"> 
                    <?= $tmp_data['redmine_id']?>__<?= $tmp_data['m']['full_name']; ?>__<?= $tmp_data['title']; ?>
                    </option>
                <?php
                } ?>
                </select>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            <br>
            <div style = "color:red; text-align:center;" id = "msg_error1"></div>
        </fieldset>
    </form>
</div>
  