<div align="left" class = "alert alert-success" >Information</div>
<div style = "border:inset 1px black;"></div>
<table style = "border:outset 1px black;" class="table table-condensed table-bordered">
    <tr class="danger">
        <th>Project</th>
        <td>
        <input id="schedule_task_id" style = "display: none;" value="<?= $ele_project['id']; ?>"> 
            <h1> <?= $ele_project['name']; ?></h1>
        </td>
    </tr>
     <tr class="info">
        <th>DeadLine</th>
            <td><?= $ele_project['deadline']; ?></td>
    </tr>
    <tr>
        <th>Coder</th>  
            <td>
            <?php foreach( $query as $key => $data){ 
            ?>
            <div>
                <p align="center" style = " font-weight:bold;float:left;"><?= $data['m']['full_name']?>:</p>
                <div style = "float:left; margin-left: 20px; width:20px; height:20px;background:<?= $data['m']['style']; ?>;"></div>  
                <div style = " cursor:pointer;" class="glyphicon glyphicon-remove" onclick=""></div>
                <div style = "clear:both;"></div> 
                </div>
            <?php } ?>
            </td>
    </tr>
</table>
<hr>
<br>
<div>
    <div style = "display:inline-block" align = "left" class = "alert alert-danger">Calendar</div>
    <button style = "float:right; margin-top:8px;" id="create-user" align = "right" class = "btn btn-primary">Create New Task</button>
</div>
<div class= "clearfix"></div>
<table id = "example1" class="table table-hover tmp_table2">